<div class="container">
  <h3 class="bg-light text-center mt-2">配送先編集</h3>
  <div class="row my-5">
    <div class="col-sm-9">
      <%= render 'form', delivery: @delivery, submit: '変更' %>
    </div>
  </div>
</div>