<div class="container">
  <h3 class="bg-light text-center mt-2">"<%= @keyword %>"の検索結果</h3>
  <div class="row my-4">
    <div class="offset-sm-1 col-sm-10">
      <% if @customers.present? %>
        <%= render 'admin/customers/index', customers: @customers %>
      <% elsif @items.present? %>
        <%= render 'admin/items/index', items: @items %>
      <% else %>
        <h5>見つかりませんでした。検索条件を変更して再度お試しください。</h5>
      <% end %>
    </div>
  </div>
</div>