<div class="container">
  <h3 class="bg-light text-center my-3">エラー</h3>
  <p>
    <i class="fas fa-exclamation-triangle"></i>
    問題が発生しました<br>
    お手数ですが、再度情報入力からやり直していただきますようお願いします。
  </p>
  <%= link_to "注文情報入力画面へ", new_order_path, class: "btn btn-warning" %>
</div>