<footer class="fixed-bottom">
  <div class="container">
    <div class="row">
        <p class="mx-auto my-auto">© 2021 ながのCAKE</p>
        <span class="float-right">
          <small><%= link_to "管理者ログイン", new_admin_session_path %></small>
        </span>
    </div>
  </div>
</footer>